<div class="container">
  <h1 class="text-center">Watchlists</h1>
  <ul class="list-group my-4 rounded">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class: "text-decoration-none" do %>
        <li class="list-group-item p-4">
            <h3><%= list.name %></h2>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
